* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    font-family: sans-serif;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    margin-left: 0px; /* Largeur de la SideNav */
    padding: 20px;
}

.title {
    font-family: 'Alegreya', cursive !important;
}

.subtitle {
    font-weight: 600 !important;
}

body {
    font-family: 'Imprima', sans-serif;
}